.container {
  border: 1px solid #b6b6b6;
  @media (max-width: 426px) {
    border: 0;
  }
  .list {
    display: flex;
    padding: 10px 40px;
    font-size: 22px;
    border-bottom: 1px solid #b6b6b6;
    @media (max-width: 768px) {
      font-size: 18px;
    }
    @media (max-width: 426px) {
      display: none;
    }
    .products {
      flex-basis: 45%;
    }
    .quantity {
      flex-basis: 20%;
      text-align: center;
    }
    .total {
      flex-basis: 25%;
      text-align: center;
    }
  }
  .items {
    @media (max-width: 426px) {
      display: flex;
      flex-direction: column;
    }
  }
  margin-bottom: 10px;
}
