PORT=5000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=shop
DB_USER=postgres
DB_PASSWORD=root
JWT_SECRET=dawd34342342
NODE_ENV=development

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your-email@gmail.com
SMTP_PASS=fmjchsvwcotwczsi
SMTP_FROM=your-email@gmail.com

# Frontend URL for email verification
FRONTEND_URL=http://localhost:3000 