.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: none;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.title {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.formContainer {
  background: white;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0 2px 10px #b58269;
  width: 100%;
  box-sizing: border-box;
}

.subtitle {
  color: #444;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.inputGroup {
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-size: 14px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: #b58269;
    box-shadow: 0 0 0 2px #b58269;
  }
}

.errorMessage {
  color: #dc3545;
  font-size: 12px;
  margin-top: 5px;
}

.successMessage {
  color: #28a745;
  font-size: 12px;
  margin-top: 5px;
}

.registerButton {
  width: 100%;
  padding: 12px;
  background-color: #b58269;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #b58269;
  }
}

.loginButton {
  width: 100%;
  padding: 12px;
  background-color: transparent;
  color: #b58269;
  border: 1px solid #b58269;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;

  &:hover {
    background-color: #e7d2c83f;
  }
} 