.container {
  margin: 0 50px;
  background-color: #3a5041;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
  .item {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
    color: #fff;
    &:hover {
      .title {
        letter-spacing: 0.065rem;
      }
      .text {
        letter-spacing: 0rem;
      }
    }
    &:not(:last-child) {
      border-right: 1px solid #ffffff4c;
    }
    .icon {
      margin-bottom: 30px;
    }
    .title {
      font-size: 25px;
      font-weight: 300;
      font-family: "Outfit", sans-serif;
      letter-spacing: 0.265rem;
      text-transform: uppercase;
      margin-bottom: 18px;
      transition: 0.5s ease-in-out;
      text-align: center;
    }
    .text {
      font-size: 20px;
      letter-spacing: 0.085rem;
      transition: 0.5s ease-in-out;
    }
  }
  @media (max-width: 1024px) {
    .item {
      .title {
        font-size: 20px;
      }
      .text {
        font-size: 14px;
      }
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 25px;
    .item {
      .title {
        font-size: 25px;
      }
      .text {
        font-size: 20px;
      }
      width: 320px;
      &:not(:last-child) {
        border-right: 0;
        padding-bottom: 50px;
        border-bottom: 1px solid #ffffff4c;
      }
    }
  }
  @media (max-width: 426px) {
    margin: 0;
  }
}
